<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
</head>
<body>
<header>
    <h1>{{.ServiceName}}</h1>
</header>
<main>
    {{if eq .Mismatch "1"}}
        <p>Invalid username or password</p>
    {{end}}
    {{if eq .Mismatch "2"}}
        <p>Check your inbox for a verification email</p>
    {{end}}
    <form method="POST" action="/login">
        <input type="hidden" name="redirect" value="{{.Redirect}}"/>
        <div>
            <label for="field_username">User Name:</label>
            <input type="text" name="username" id="field_username" required/>
        </div>
        <div>
            <label for="field_password">Password:</label>
            <input type="password" name="password" id="field_password" required/>
        </div>
        <button type="submit">Login</button>
    </form>

    <form method="POST" action="/reset-password">
        <p>Enter your email address below to receive an email with instructions on how to reset your password.</p>
        <p>Please note this only works if your email address is already verified.</p>
        <div>
            <label for="field_email">Email:</label>
            <input type="email" name="email" id="field_email" required/>
        </div>
        <button type="submit">Send Reset Password Email</button>
    </form>
</main>
</body>
</html>
