<!DOCTYPE html>
<html lang="en">
<head>
    <title>{{.ServiceName}}</title>
    <link rel="stylesheet" href="/theme/style.css">
</head>
<body>
<header>
    <h1>{{.ServiceName}}</h1>
</header>
<main>
    <form method="GET" action="/">
        <button type="submit">Home</button>
    </form>

    <h2>Manage Users</h2>
    <form method="GET" action="/manage/users/create">
        <button type="submit">Create User</button>
    </form>

    {{if eq (len .Users) 0}}
        <div>No users found, this is definitely a bug.</div>
    {{else}}
        <table>
            <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Username</th>
                <th>Picture</th>
                <th>Website</th>
                <th>Email</th>
                <th>Email Verified</th>
                <th>Role</th>
                <th>Last Updated</th>
                <th>Active</th>
                <th>Actions</th>
            </tr>
            </thead>
            <tbody>
            {{range .Users}}
                <tr>
                    <td>{{.Subject}}</td>
                    <td>{{.Name}}</td>
                    <td>{{.Username}}</td>
                    <td>
                        {{if .Picture}}
                            <img width="32" height="32" src="{{.Picture}}" alt="{{.Name}} Profile Picture"/>
                        {{end}}
                    </td>
                    <td><a href="{{.Website}}" target="_blank">{{.Website}}</a></td>
                    <th>
                        {{if $.EmailShow}}
                            <span>{{.Email}}</span>
                        {{else}}
                            <span>{{emailHide .Email}}</span>
                        {{end}}
                    </th>
                    <th>{{.EmailVerified}}</th>
                    <th>{{.Role}}</th>
                    <th>{{.UpdatedAt}}</th>
                    <td>{{.Active}}</td>
                    <td>
                        {{if eq $.CurrentAdmin .Subject}}
                            <span></span>
                        {{else}}
                            <form method="GET" action="/manage/users">
                                <input type="hidden" name="offset" value="{{$.Offset}}"/>
                                <input type="hidden" name="edit" value="{{.Subject}}"/>
                                <button type="submit">Edit</button>
                            </form>
                            <form method="POST" action="/reset-password">
                                <input type="hidden" name="email" value="{{.Email}}"/>
                                <button type="submit">Send Reset Password Email</button>
                            </form>
                        {{end}}
                    </td>
                </tr>
            {{end}}
            </tbody>
        </table>
        <form method="GET" action="/manage/users">
            <input type="hidden" name="offset" value="{{.Offset}}"/>
            {{if not .EmailShow}}
                <input type="hidden" name="show-email"/>
            {{end}}
            <button type="submit">{{if .EmailShow}}Hide Email Addresses{{else}}Show email addresses{{end}}</button>
        </form>
    {{end}}
</main>
</body>
</html>
